.cima{
    background-color: #e6e5f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.meio{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e6e5f8;
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
}

.baixo-provider{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-item{
    font-size: 20px;
    color: #2e7bb4;
    font-weight: bold;
    text-decoration: none;
}

.menu-avali{
    list-style-type: none;
}

.menu-avali-item{
    text-decoration: none;
    color: black;
}

.foto{
    width: 200px;
    height: 200px;
}

.nome{
    color: #2e7bb4;
}

.local{
    color: gray;
}

.btn-agendar{
       background-color: #2e7bb4 !important;
       color: white !important;
       border-radius: 20px !important;
       padding: 5px !important;
       border: #2e7bb4 solid 2px !important;
       width: 180px !important;
       text-align: center !important;
}

.btn-agendar:hover{
    background-color: #fff !important;
    color: #2e7bb4 !important;
    transition: 0.1s ease-in-out !important;
}