<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: menu" ></div>

<div class="dash">
    <div class="cima">
        <img src="../static/css/img/trabalhador.png" alt="" class="foto">
        <h2 th:text="${provider.username}" class="nome"></h2>
        <h3 th:text="${provider.address}" class="nome"></h3>
        <ul class="menu">
            <li th:text="${provider.serviceDetail.serviceName}" class="menu-item"></li>
        </ul>
    </div>
    <div class="meio">
        <form th:action="@{/order/createOrder}" method="post">
            <button type="submit" class="btn">Agendar Serviço</button>
        </form>
    </div>
<!--    <div class="baixo">
        <ul class="menu-avali">
            <li><a href="" class="menu-avali-item">Avaliação 1 (se rolar)</a></li>
        </ul>
    </div>-->

</div>

<div th:replace="fragments :: footer" ></div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>